@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("../img/Photos/Gif1.gif");
  color: beige;
  background-size: cover;
  font-family: 'Roboto';
}

/************* HEADER *************/

.header {
  height: 60px;
  background-color:  rgb(21 32 36 / 69%);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #000000bf;
}

.nav-link {
  text-decoration: none;
  color: beige;
}

.logo {
  width: 30%;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-menu-item {
  font-size: 18px;
  /* margin: 0 10px;
  line-height: 80px; */
  width: max-content;
}

.nav-menu-item img {
  width: 40%;
}

.nav-menu-item p {
  display: none; 
}

.nav-menu-link:hover {
  background-color: none;
  color:#84f0deea;
  transition: 0.5s;
}

.nav-menu-link {
  border-radius: 5px;
}

.NavToggle {
  background-color: rgb(40 56 55 / 0%);
  border: none;
  display: none;
  cursor: pointer;
}

.MenuBar {
  width: 40px;
}





@media (max-width: 768px) {

  

  .logo {
    width: 50%;
  }

  .nav-menu {
    flex-direction: column;
    /* align-items: center; */
    /* list-style: none; */
    background-color: black;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    /* padding: 20px 0; */
    height: calc(100% - 80px);
    /* overflow-y: auto; */
    left: 100%;
    transition: left 0.3s;
    z-index: 5;
    /* padding: 10% 0% 0% 10.7%;*/
  }

  .nav-menu-item {
  display: flex;
  }

  .nav-menu-item img {
    width: 50px;
  }

  .nav-menu-item p {
    display: block; 
  }


  .nav-menu-link:hover {
    background-color: none;
    color: #45aa4aea;
  }

  .NavToggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
    display: block;
    width: -webkit-fill-available;
    display: inline-grid;
    /* justify-items: start; */
    justify-content: center;
  }

  .MenuBar {
    width: 40px;
  }

  /* Hover of line */
  .nav-menu li {
    margin: 3%;

  }

  .nav-menu a {
    position: relative;
    display: block;
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 10%;
    justify-content: space-around;
  }

  .nav-menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(9, 117, 54), rgb(12, 119, 44), rgb(115, 207, 150));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav-menu a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu[data-animation="center"] a::before {
    transform-origin: center;
  }


}

/************* PAGES COLOR *****************/

#Home {background-color: pink;}
#Search {background-color: greenyellow;}
#EditProfile {background-color:  blueviolet;}
#AboutUs {background-color: brown;}
#SignOut {background-color: skyblue;}


/************* BOX GRID 1: HOME*************/
.HomeBox {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "ProfileBox PublicationsBox";
}

.ProfileBox {

  justify-self: stretch;
  align-self: stretch;
  grid-area: ProfileBox;
}

.PublicationsBox {

  justify-self: stretch;
  align-self: stretch;
  grid-area: PublicationsBox;
}

/************* PROFILE BOX-BOX *************/

.ProfileBox-Box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0% 0%;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "NameBox"
    "InfBox";
}

.NameBox {

  justify-self: stretch;
  align-self: stretch;
  grid-area: NameBox;
}

.InfBox {

  justify-self: stretch;
  align-self: stretch;
  grid-area: InfBox;
}


/***************** CONTAINER PUBLICATIONS (EVENTS, GALERY, PUBLICS, HISTORIAL) *****************/

/* Style the tab buttons */
.tablink {
  background-color: rgb(64, 133, 55);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: rgba(65, 64, 64, 0.637);
}

/* Set default styles for tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 50px;
  text-align: center;
  height: 100%;
}

/* Style each tab content individually */
#publications {
  background-color: rgb(255, 255, 255);
}
#events {
  background-color: rgb(255, 255, 255);
}
#galery {
  background-color: rgb(255, 255, 255);
}
#historial {
  background-color: rgb(255, 255, 255);
}

.nav-Publications {
  display: block;
}

.footer-Publications {
  display: none;
}

.nav-Publications img {
  width: 15%;
}
@media screen and (max-width: 600px) {
  .nav-Publications {
    display: none;
  }

  .footer-Publications {
    display: block;
  }

  .footer-Publications img,
  .nav-Publications img  {
    width: 40%;
  }
}

/************* *************/

/************* *************/

/************* *************/