@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("../img/Photos/Gif1.gif");
  color: beige;
  background-size: cover;
  font-family: 'Roboto';
}

/************* HEADER *************/

.header {
  height: 60px;
  background-color:  rgb(21 32 36 / 69%);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #000000bf;
}

.nav-link {
  text-decoration: none;
  color: beige;
}

.logo {
  width: 30%;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-menu-item {
  font-size: 18px;
  /* margin: 0 10px;
  line-height: 80px; */
  width: max-content;
}

.nav-menu-item img {
  width: 40%;
}

.nav-menu-item p {
  display: none; 
}

.nav-menu-link:hover {
  background-color: none;
  color:#84f0deea;
  transition: 0.5s;
}

.nav-menu-link {
  border-radius: 5px;
}

.NavToggle {
  background-color: rgb(40 56 55 / 0%);
  border: none;
  display: none;
  cursor: pointer;
}

.MenuBar {
  width: 40px;
}





@media (max-width: 768px) {

  

  .logo {
    width: 50%;
  }

  .nav-menu {
    flex-direction: column;
    /* align-items: center; */
    /* list-style: none; */
    background-color: black;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    /* padding: 20px 0; */
    height: calc(100% - 80px);
    /* overflow-y: auto; */
    left: 100%;
    transition: left 0.3s;
    z-index: 5;
    /* padding: 10% 0% 0% 10.7%;*/
  }

  .nav-menu-item {
  display: flex;
  }

  .nav-menu-item img {
    width: 50px;
  }

  .nav-menu-item p {
    display: block; 
  }


  .nav-menu-link:hover {
    background-color: none;
    color: #45aa4aea;
  }

  .NavToggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
    display: block;
    width: -webkit-fill-available;
    display: inline-grid;
    /* justify-items: start; */
    justify-content: center;
  }

  .MenuBar {
    width: 40px;
  }

  /* Hover of line */
  .nav-menu li {
    margin: 3%;

  }

  .nav-menu a {
    position: relative;
    display: block;
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 10%;
    justify-content: space-around;
  }

  .nav-menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(9, 117, 54), rgb(12, 119, 44), rgb(115, 207, 150));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav-menu a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu[data-animation="center"] a::before {
    transform-origin: center;
  }
}

/************* PAGES COLOR *****************/

.Box {
  height: 500px;
}

#Home {background-color;}
#Search {background-color: greenyellow;}
#EditProfile {background-color:  blueviolet;}
#AboutUs {background-color: brown;}
#SignOut {background-color: skyblue;}


/***************** CONTAINER PUBLICATIONS (EVENTS, GALERY, PUBLICS, HISTORIAL) *****************/

/* Style the tab buttons */
.tablink {
  background-color: rgb(64, 133, 55);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: rgba(65, 64, 64, 0.637);
}

/* Set default styles for tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 50px;
  text-align: center;
  height: 100%;
}

/* Style each tab content individually */
#publications {
  background-color: rgb(255, 255, 255);
}
#events {
  background-color: rgb(255, 255, 255);
}
#galery {
  background-color: rgb(255, 255, 255);
}
#historial {
  background-color: rgb(255, 255, 255);
}

.nav-Publications {
  display: block;
}

.footer-Publications {
  display: none;
}

.nav-Publications img {
  width: 15%;
}
@media screen and (max-width: 600px) {
  .nav-Publications {
    display: none;
  }

  .footer-Publications {
    display: block;
  }

  .footer-Publications img,
  .nav-Publications img  {
    width: 40%;
  }
}

.Avatar-img {
  width: 50%;
  border-radius: 100%;
  border-width: 5px;
  border-color: rgb(34, 100, 13);
  border-style: solid;
}

.Interests-Box img {
  width: 20%;
  border-radius: 100%;
  border-width: 2px;
  border-color: rgb(34, 100, 13);
  border-style: solid;
}

/***************** ******************/

.HomeBox {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 2.6fr;
  grid-template-rows:  0.3fr 0.7fr 0.2fr 0.4fr 0.3fr;
  gap: 0% 0%;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "UserName UserName Publications"
    "Avatar Avatar Publications"
    "User Country Publications"
    "Bio Bio Publications"
    "Interests Interests Publications";
  height: 700px;
}

.UserName { 
  grid-area: UserName; 
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.Avatar { 
  grid-area: Avatar;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.User { 
  grid-area: User; 
  display: flex;
    text-align: center;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Country { 
  grid-area: Country; 
  display: flex;
    text-align: center;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Bio { 
  grid-area: Bio; 
  display: flex;
    text-align: justify;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Interests { 
  grid-area: Interests; 
  display: flex;
    text-align: center;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Publications { 
  grid-area: Publications; 
}


@media screen and (max-width: 600px) {
  .HomeBox {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr 1.7fr;
    grid-template-rows: 0.4fr 1.5fr 0.2fr 1.5fr 1.1fr;
    gap: 0% 0%;
    grid-auto-flow: row dense;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "UserName UserName UserName"
      "Avatar Avatar Bio"
      "User Country Interests"
      "Publications Publications Publications"
      "Publications Publications Publications";
      height: 600px;
  }
  
  .UserName { 
    grid-area: UserName; 
    background-color: rgb(21, 92, 39);
    
  }
  
  .Avatar { 
    grid-area: Avatar;
    background-color: rgb(163, 190, 62); 
  }
  
  .User { 
    grid-area: User; 
    background-color: rgb(168, 21, 21);
  }
  
  .Country { 
    grid-area: Country; 
    background-color: rgb(86, 90, 23);
  }
  
  .Bio { 
    grid-area: Bio; 
    background-color: rgb(214, 20, 62);
  }
  
  .Interests { 
    grid-area: Interests; 
    background-color: rgb(92, 21, 74);
  }
  
  .Publications { 
    grid-area: Publications; 
    background-color: rgb(52, 148, 177);
  }
  .Avatar-img {
    width: 80%;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgb(34, 100, 13);
    border-style: solid;
  }
  
  .Interests-Box img {
    width: 10%;
    border-radius: 100%;
    border-width: 2px;
    border-color: rgb(34, 100, 13);
    border-style: solid;
  }
}

/******** *********/











